[Unit]
Description=EmbyKeeper Service
After=network-online.target
Wants=network-online.target

[Service]
User=ubuntu
ExecStart=embykeeper /home/ubuntu/projects/net/ubuntu/embykeeper/config.toml
WorkingDirectory=/home/ubuntu/projects/net/ubuntu/embykeeper/
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
